experiment_name: "medseg_3d_unet_recipe_dwi_adc_fp50_dicebce_patch64_ch16_e10"

data:
  csv_path: "data/splits/my_dataset_train_val_test.csv"
  root: "data/processed/my_dataset"
  modalities: ["DWI", "ADC"]
  normalize: "nonzero_zscore"

  patch_size: [64, 64, 64]
  val_stride: [32, 32, 32]

  # fixed threshold for apples-to-apples
  val_threshold: 0.5
  val_min_size: 0

  foreground_prob: 0.5
  force_fg_prob: 0.0

train:
  batch_size: 1
  num_workers: 0
  epochs: 10
  lr: 0.0002
  min_lr: 0.0
  weight_decay: 0.00001
  grad_clip: 1.0
  base_ch: 16

  # speed limit (does not change memory peak per step)
  max_steps_per_epoch: 120
  max_val_steps: 60

  loss: "dice_bce"
  loss_params:
    smooth: 1.0
    bce_weight: 1.0
    pos_weight: 1.0

  amp: true

log:
  out_dir: "runs/3d_unet"
  save_interval: 1
