experiment_name: medseg_3d_unet_recipe_dwi_adc_fp50_dicebce_patch96_e200_kfold5_f3_ts222
data:
  csv_path: /Users/yusukefujinami/ToReBrain/ToReBrain-pipeline/data/splits/kfold5_my_dataset/fold3.csv
  root: /Users/yusukefujinami/ToReBrain/ToReBrain-pipeline/data/processed/my_dataset_ts222
  modalities:
  - DWI
  - ADC
  normalize: nonzero_zscore
  patch_size:
  - 96
  - 96
  - 96
  val_stride:
  - 48
  - 48
  - 48
  val_threshold: 0.5
  val_min_size: 0
  foreground_prob: 0.5
  force_fg_prob: 0.0
train:
  batch_size: 1
  num_workers: 0
  epochs: 100
  lr: 0.0002
  min_lr: 0.0
  weight_decay: 1.0e-05
  grad_clip: 1.0
  base_ch: 32
  loss: dice_bce
  loss_params:
    smooth: 1.0
    bce_weight: 1.0
    pos_weight: 1.0
  amp: true
log:
  out_dir: runs/3d_unet
  save_interval: 1
